@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url('polices/Raleway-Regular.woff') format('woff');
    src: local('Raleway'), url('polices/Raleway-Regular.ttf') format('ttf');
    }
body
{
    font-family: 'Raleway','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1590px;
}

.page
{
    width:90%;
    max-width: 100%;
    padding:20px;
    margin:0 auto;
}

/*img
{
    max-width:100%;
    height:auto;
}*/
header
{
    width:100%;
    background-color:bisque;
}

.centre
{
    width:100%;
    background-color:burlywood;
    display:flex;
    flex-direction:row;
}

.centre h2
{
    font-size:100%;
}

.hebergement
{
    width:70%;
}

.pavehebergement
{
    box-sizing:border-box;
    width:100%;
    background-color: pink;
    margin-right:0%;
    margin-left:0%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    /*flex-flow:wrap;*/
    justify-content:space-around;
    /*padding-top:10px;
    padding-bottom:10px;*/
    align-content:space-around;
    height:700px;
}

.afficherplus
{
    display:block;
    padding-top:10px;
    padding-bottom:10px;
}

.carteh
{
    box-sizing:border-box;
    flex-basis:28.3%;
    height:300px;
    background-color: white;
    border:1px solid rgb(243, 239, 239);
    margin-right:2.5%;
    margin-left:2.5%;
    border-radius:10px;
}

.carteh a
{
    display:block;
    width:100%;
    height:100%;
}

.carteh img
{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    /*height:60%;*/
    width:95%;
    margin-left:2%;
    margin-top:2%;
    display:block;
    margin-bottom:1px;
}

/* clip path inset créait un masque de saisi valeurs Haut Droit Bas Gauche
round Haut Droit   Haut Gauche   Bas droit  Bas Gauche */ 
.i4
{
   /* clip-path: inset(2% 0 25% 0 round 5px 5px 0px 0px); */
   height:60%;
    
}

.descrimgh
{
    height: auto;
}

.populaires
{
    width:30%;
}
.pavepopulaires
{
    box-sizing:border-box;
    width:100%;
    background-color: rosybrown;
    border:1px solid rebeccapurple;
    display:flex;
    flex-direction:column;
    height:700px;
    justify-content:space-around;
    padding-top:5px;
}

.cartep
{
    box-sizing:border-box;
    background-color: white;
    border:1px solid black;
    margin-left:5%;
    margin-right:5%;
    justify-content:space-around;
    height:190px;
    border-radius:10px;
}


@media only screen and (min-width:600px) and (max-width: 900px) 
{

.carteh
{
    box-sizing:border-box;
    flex-basis:40%;
    height:200px;
    background-color: white;
    border:1px solid black;
    margin-right:2.5%;
    margin-left:2.5%;
    border-radius:10px;
}
}

@media only screen and (max-width: 599px) 
{

/*--- md 25/12 -----------*/    
.centre
{
    width:100%;
    background-color:burlywood;
    display:flex;
    flex-direction:column-reverse;
    /*--- fin md 25/12 ---------*/
} 

.hebergement
{
    width:100%;
    height:1400px;
}

.pavehebergement
{
    height:90%;
}

.populaires
{
    width:100%;
}

.carteh
{
    box-sizing:border-box;
    flex-basis:100%;
    height:180px;
    background-color: white;
    border:1px solid black;
    margin-right:2.5%;
    margin-left:2.5%;
    border-radius:10px;
}
}


.activites
{
    width:100%;
    background-color: cornsilk;
    border:1px solid black;
}

.carteap
{
    display:flex;
    flex-direction:column;
}

.carteag
{
    border:1px green solid;
    box-sizing:border-box;
    flex-basis:20%;
    height:300px;
    border-radius:10px;
}

.activites{
    width:100%;
    border:2px green solid;
}

.paveactivites
{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-bottom:10px;
}

footer
{
    width:100%;
    background-color: moccasin;
    border:1px solid black;
}

.apropos
{
    width:28.57%;
    background-color: sienna;
    border:1px solid black;
    box-sizing:border-box;
}

.noshebergements
{
    width:28.57%;
    background-color:burlywood;
    border:1px solid black;
    box-sizing:border-box;
}

.assistance
{
    width:28.57%;
    background-color:chocolate;
    border:1px solid black;
    box-sizing:border-box;
}

footer
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.logreservia
{
    width:6em;
}

.entmen
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.entmen ul
{
    display:flex;
    flex-direction:row;
    list-style-type: none;
}

.entmen a
{
    font-size:1em;
    color:black;
    text-decoration: none;
    margin-right:1.5em;
}

#lm1
{
    border-top:1px #0065FC solid;
    color:#0065FC;
}

#lm3
{
    color:#0065FC;
}

.entmen a:hover
{
    color:#0065FC; 
}

header h1
{
    font-size:1.5em;
}