/**/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url('polices/Raleway-Regular.woff') format('woff');
    src: local('Raleway'), url('polices/Raleway-Regular.ttf') format('ttf');
    }
    
/* définitions caractéristiques du Body ( famille de police de caractères, largeur maximale de l'écran
fixée à 1590px avec marges auto et taille de police fixée à 100% */

body
{
    font-family: 'Raleway','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1590px;
    font-size:100%;
    margin:auto;
}

/* paramétrage du contener 90% du body et centrage auto */

.wrapper
{
    width:90%;
    margin:0 auto;
}

/* parametrage des tailles de polices de caractères par défaut*/

h1
{
    font-size: 1.8em;
}

h2
{
    font-size:1.4em;
}

p
{
    font-size:1.0em;
}

a
{
    font-size:1em;
}
/*
/* definition des differentes tailles de polices selon les media queries définis */

@media only screen and (max-width: 559px)
{
 
h1,h2
{
    font-size:105%;
} 

p,a
{
    font-size:100%;
}

}

@media only screen and (min-width:560px) and (max-width: 758px) 
{

    
    h1,h2
    {
        font-size:100%;
    }

    p
    {
        font-size:85%;
    }

    a
    {
        font-size:95%;
    }

}

@media only screen and (min-width:759px) and (max-width: 959px) 
{

    
    h1,h2
    {
        font-size:100%;
    }

    p
    {
        font-size:85%;
    }

    a
    {
        font-size:95%;
    }

}


@media only screen and (min-width: 960px) 
{
h1,h2,p,a
{
    font-size:100%;
}

}


/*
/************ fin medias queries *************************************/

/* paramétrage des largeurs des conteneurs structurant de la page header centre activites footer par rapport au wrapper */

header
{
    width:100%;
}

.centre
{
    width:100%;
    display:flex;
    flex-direction:row;
}

.activites
{
    width:100%;
}

footer
{
    width:105%;
    background-color: #f2f2f2;
    margin-left:-2.5%;
}

/* traitement du conteneur entete ********************************************************************/

/* logo reservia definition de la largeur , image étant en svg le logo sera proportionnel en hauteur */

.logreservia
{
    width:8em;
}

/* traitement du menu */

/* le logo et le menu sont positioonés sur la même ligne */

.entmen
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:10px;
}

/* le menu est positionné en ligne, suppression des points sur les éléments du menu */

.entmen ul
{
    display:flex;
    flex-direction:row;
    list-style-type: none;
}

/* Police des éléments du menu , pas de soulignenemnt et marge droite entre chaque élément */

.entmen a
{
    color:black;
    text-decoration: none;
    margin-right:1.5em;
    transition-property:color,font-size;
    transition-duration:1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* hébergement  bordure haute et definition couleur de la police */

#lm1
{
    border-top:2px #0065FC solid;
    padding-top:20px;
    color:#0065FC;
}

/* s inscrire  definition couleur de la police */

#lm3
{
    color:#0065FC;
}

/* survole des éléments du menu */

.entmen a:hover
{
    color:#0065FC;
    font-size:120%; 
}
/**/
/* trouvez votre hébergement */

.titre h1
{
    margin-bottom:0px;
}

/**/
/* En plein centre ville */

.titre p
{
    color:dimgrey;
    font-size:100%;
    margin-top:0px;
    margin-left:4px;
}

/* Texte plus de 500 logements disponibles en gris clair   */

#pinfo
{
    font-size:80%;
    color:dimgrey;
}

/* Trt icone "i" couleur bleu, bordure grise en rond autour icone */

#pinfo .fa-info
{
    color:#0065FC;
    font-size:90%;
    margin-right:4px;
    margin-left:0px;
    border:1px solid lightgray;
    border-radius:50%;
    padding-left:6px;
    padding-right:6px;
    padding-top:4px;
    padding-bottom:4px;
    text-align:center;    
}
/**/
/*  Zone de recherche ville icone + zone recherche input + bouton rechercher */

/* form conteneur de la zone recherche complete icone+input+bouton */

.rechercheform
{
    margin-bottom:40px;
}

/* icone  marqueur de lieu */

.fa-map-marker-alt
{
    background-color:#f2f2f2;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding:13px;
}

/* zone input recherche ville */

input[name="rechercheville"]
{
    border:1px #f2f2f2 solid;
    padding:10px;
    font-weight:bold;
    font-size:105%;   
    margin-left:-5px;
}
/*
/* selon la taille de l'ecran on affiche soit bouton recherche avec recherche ou
avec une loupe. Par defaut on affiche recherche dans bouton recherche */
/* */

.boutonrecherche
{
    background-color:#0065FC;
    padding:10px 15px 10px 15px;
    color:white;
    font-weight:bold;
    font-size:105%;
    margin-left:-5px;
    border:0;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    cursor: pointer;
    transition-property:background-color,color,font-size;
    transition-duration:1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: unset;
}

.boutonrecherche:hover
{
    background-color:#f2f2f2;
    color:black;
    font-size:120%;
}

.boutonloupe
{
    display:none;
    outline: unset;
}

/**/
/* Traitement des filtres  */

.filtresform
{
    margin-bottom:0px; 
}

.filtres fieldset
{
    border:0;
    padding-left:0;
}

.filtres button 
{
    border: none;
    border:#f2f2f2 4px solid;
    border-radius:25px;
    background-color:white;
    color: black;
    padding: 8px 14px;
    font-size: 105%;
    font-weight:bold;
    cursor: pointer;
    transition-property:background-color,color,font-size;
    transition-duration:1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    outline:unset;   
}

.filtres button:hover
{
  background-color:#0065FC;
  color:white;
  font-size:110%;
  transform:scale(1.25);

}

fieldset p
{
    display:inline;
    margin-right:10px;
    font-size:105%;
    font-weight:bold;
}

/**/
/* definitions des icones précédent chaque bouton de filtre */
/**/
.fa-money-bill-wave::before, .fa-child::before, .fa-heart::before, .fa-dog::before
{
    background-color:#deebff;
    border-radius:100%;
    text-align:center;
    padding:12px;
    margin-left:-18px;
    color:#0065FC;
    font-size:100%;
}

  
/* media queries pour traiter entete  position menu pour petit ecran  */

@media only screen and (max-width: 559px) 
{

.titre h1
{
    margin-top:30px;
}

.entmen
{
    display:block;
    position:relative;
}

.entmen img
{
    display:block;
}    

.entmen ul
{
    display:block;
}


/* hebergement */

#lm1
{
    position:absolute;
    top:60px;
    left:20px;
    border-bottom:1px #0065FC solid;
    border-top:0px;
    padding-bottom:10px;
}

/* activite */

#lm2
{
    position:absolute;
    top:80px;
    right:50px;
}

/* s inscrire */

#lm3
{
    position:absolute;
    top:24px;
    right:0px;
}

.titre
{
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
}

.titre h1
{
    margin-bottom:0px;
}
.titre p
{
    margin-top:4px;
}

.rechercher, .filtres

{
    margin-left:20px;
    
}

.fa-map-marker-alt
{
    background-color:#f2f2f2;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding:12px;
}

/* zone input recherche ville */

input[name="rechercheville"]
{
    border:1px #f2f2f2 solid;
    padding:10px;
    font-weight:bold;
    font-size:100%;   
    margin-left:-5px;
    width:170px;
}

.boutonloupe
{
    display:inline;
    background-color:#0065FC;
    padding:10px 10px 10px 10px;
    color:white;
    font-weight:bold;
    font-size:100%;
    margin-left:-5px;
    border:0;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    cursor: pointer;
    transition-property:background-color,color,font-size;
    transition-duration:1s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.boutonloupe:hover
{
    background-color:white;
    color:#0065FC;
    font-size:110%;

}

.boutonrecherche
{
    display:none;
}

/***************/

}

/* fin trt des media queries */

/* fin de traitement du conteneur entete *************************************************/

/* traitement du contener centre qui contient les contener hebergement et populaire */

/* definition des proportions des pavés hebergement et les plus populaires
à l'interieur du contenaire  68% de largeur pour hebergement et 30% pour populiare 2% margin-left */

.hebergement
{
    width:68%;
    background-color: #f2f2f2;
    border-radius:20px;
    position:relative;
   
    
}

.populaires
{
    width:30%;
    background-color: #f2f2f2;
    border-radius:20px;
    margin-left:2%;
}

/* Traitement du pavé hebergement. Utilisation de flexbox alignement des elements en ligne avec passage à la ligne si dépassement 
Les elements sont justifiés avec un espace autour en ligne et chaque ligne est alignée en hauteur avec des espaces autour  
La hauteur du bloc est fixée à 600px et nous allons donner à chaque élément une hauteur de 250px ce qui permettra d'afficher deux lignes
dans le contener flex.
D'autre part chaque elment est défini avec une largeur de 28.3% ce qui permet de mettre trois éléments par ligne.*/

/* definition du contener */

.pavehebergement
{
    box-sizing:border-box;
    width:100%;
    margin-right:0%;
    margin-left:0%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:space-around;
    height:600px;
}

.hebergement h2
{
    margin-left:2.5%;
}

.pavehebergement a
{
    text-decoration:none;
    color:black;
}

.afficherplus
{
    display:block;
    margin-left:4%;
    text-decoration: none;
    font-weight:bolder;
    color:black;
    position:absolute;
    bottom:7%;
}

/* definition des elements (items) */

.carteh
{
    box-sizing:border-box;
    flex-basis:28.3%;
    height:250px;
    background-color: white;
    border:1px solid rgb(243, 239, 239);
    margin-right:2%;
    margin-left:2%;
    border-radius:20px;
    box-shadow:1px 2px 4px #afaeae;
    overflow:hidden;
    
}

/******************************************************************************/
/* 
/* Auberge Cannebiere */
                                                                            
.cartehimg1
{
    width:95%;
    height:60%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:2%;
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position: center;

}

/* Traitement affichage des étoiles */

.starh1
{
    margin-left:10px;
}
.starh1 .fa-star
{
    color:#0065FC;
    margin-right:1px;
}

.starh1 .fa-star:nth-child(5)
{
    color:rgb(197, 203, 209)
}

/* Hotel du port */

.cartehimg2
{
    width:95%;
    height:60%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:2%;
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position: center;

}

/* Traitement affichage des étoiles */

.starh2
{
    margin-left:10px;
}
.starh2 .fa-star
{
    color:#0065FC;
    margin-right:1px;
}

/* Hotel les mouettes */

.cartehimg3
{
    width:95%;
    height:60%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:2%;
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position: center;

}

/* Traitement affichage des étoiles */

.starh3
{
    margin-left:10px;
}
.starh3 .fa-star
{
    color:#0065FC;
    margin-right:1px;
}

.starh3 .fa-star:nth-child(5)
{
    color:rgb(197, 203, 209)
}

/* Hotel de la Mer */

.cartehimg4
{
    width:95%;
    height:60%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:2%;
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position:center;

}

/*-- Traitement affichage des étoiles --*/

.starh4
{
    margin-left:10px;
}
.starh4 .fa-star
{
    color:#0065FC;
    margin-right:1px;
}

.starh4 .fa-star:nth-child(4)
{
    color:rgb(197, 203, 209)
}

.starh4 .fa-star:nth-child(5)
{
    color:rgb(197, 203, 209)
}

/* Auberge le Palmier */

.cartehimg5
{
    width:95%;
    height:60%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:2%;
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position: center;
}

/* Traitement affichage des étoiles */

.starh5
{
    margin-left:10px;
}
.starh5 .fa-star
{
    color:#0065FC;
    margin-right:1px;
}

.starh5 .fa-star:nth-child(5)
{
    color:rgb(197, 203, 209)
}

/* Hotel chez Amina */

.cartehimg6
{
    width:95%;
    height:60%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:2%;
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position:center;
}

/* Traitement affichage des étoiles */

.starh6
{
    margin-left:10px;
}
.starh6 .fa-star
{
    color:#0065FC;
    margin-right:1px;
}

/* pave traitant le contenu sous l'image nom de l'image, prix de la nuité...*/

.descrimgh
{
    height: auto;
    padding:1px 0;
    line-height: 100%;
    position:absolute;
    bottom:0px;
}

.descrimgh p:first-child
{
    margin-top:10px;
    margin-left:10px;
    margin-bottom:0px;
    font-weight:bolder;
}

.descrimgh p:nth-child(2)
{
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    color:darkgrey;
}
/**/
/* chaque carte est entièrement clicable */
/**/

.carteh a
{
    display:block;
    width:100%;
    height:100%;
    position: relative;
}

/*
/* Traitement du pave les plus populaire */
/**/
/* le titre h2 et l'icone chart line de la bibl font awesome sont positionnés dans un contener en flex */

.titrepopulaires
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    margin-left:5%;
    margin-right:5%;
}

.fa-chart-line
{
    color:black;
    
}

/* Traitements du contener contenant les trois cartes descriptives du pave les plus populaire */

.pavepopulaires
{
    box-sizing:border-box;
    width:100%;
    display:flex;
    flex-direction:column;
    height:700px;
    justify-content:space-around;
    padding-top:5px;
}

.pavepopulaires a
{
    Text-decoration:none;
    color:black;
}

/* definition des elements (items) */

.cartep
{
    display:flex;
    flex-direction:row;
    box-sizing:border-box;
    background-color: white;
    margin-left:5%;
    margin-right:5%;
    justify-content:flex-start;
    height:190px;
    border-radius:20px;
    border:1px solid rgb(243, 239, 239);
    box-shadow:1px 2px 4px #afaeae;
    overflow:hidden;
}

.descrimgp
{
    margin-left: 5%;
    position:relative;
}

.descrimgp1
{
    font-weight:bolder;
    margin-bottom:0px;
}

.descrimgp2
{
    font-weight:bolder;
    margin-top:0px;
}

.descrimgpprix
{
    color:darkgray;
}


/******************************************************************************/
/* 
/* Hotel le soleil du matin */
                                                                            
.cartepimg1
{
    width:40%;
    height:92%;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    margin:2%;
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover; 
    background-origin:padding-box;
    background-position:center;  
}

.starp1
{
    margin-left:0px;
    position:absolute;
    bottom:2%;
}
.starp1 .fa-star
{
    color:#0065FC;
    margin-right:1px;
}

.cartepimg2
{
    width:40%;
    height:92%;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    margin:2%;
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover; 
    background-origin:padding-box;
    background-position:center;  
}

.starp2,.starp3
{
    margin-left:0px;
    position:absolute;
    bottom:2%;
}
.starp2 .fa-star,.starp3 .fa-star
{
    color:#0065FC;
    margin-right:1px;
}

.starp2 .fa-star:nth-child(5), .starp3 .fa-star:nth-child(5)
{
    color:rgb(197, 203, 209)
}

.cartepimg3
{
    width:40%;
    height:92%;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    margin:2%;
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover; 
    background-origin:padding-box;
    background-position:center;  
}

/***********************************************************************/
/*    media queries  */
/***********************************************************************/
/**/
/* Traitement de la zone filtre pour les écrans < à 910px */
/* Filtre passe sur une ligne et les boutons de sélection de filtre passent 
/* en dessous*/

@media only screen and (max-width:909px)
{

    fieldset p
    {
        display:block;
    }   

}

/**/
/*  ecran compris entre 759 et 959 px                                 */
/**/

@media only screen and (min-width:759px) and (max-width: 959px) 
{

.carteh
{
    /*box-sizing:border-box;*/
    flex-basis:40%;
    height:180px;
    /*background-color: white;*/
    margin-right:2.5%;
    margin-left:2.5%;
    border-radius:10px;
    /*overflow:hidden;*/
}

}
/**/
/* ecran compris entre 560 et 758  */
/**/

@media only screen and (min-width:560px) and (max-width: 758px)  
{

.carteh
{
    /*box-sizing:border-box;*/
    flex-basis:45%;
    height:180px;
    /*background-color: white;*/
    margin-right:2.5%;
    margin-left:2.5%;
    border-radius:10px;
    /*overflow:hidden;*/
}

}

/**/
/*  ecran inferieur à 559 px    Affichage sur une colonne                        */
/**/

@media only screen and (max-width: 559px)
{

.centre
{
    width:100%;
    display:flex;
    flex-direction:column-reverse;
    
} 

.hebergement
{
    width:100%;
    background-color:white;
    height:1460px;
}

.pavehebergement
{
    height:90%;
}

.populaires
{
    width:100%;
    background-color:#f2f2f2;
    border-radius:0px;
    margin-left:0%;
}

.populaire h2
{
    font-weight:bolder;
}

.pavepopulaires
{
   height:550px;
}

.cartep
{
    /*display:flex;
    flex-direction:row;
    box-sizing:border-box;
    background-color: white;
    margin-left:5%;
    margin-right:5%;
    justify-content:flex-start;*/
    height:150px;
    /*border-radius:20px;
    overflow:hidden;*/
}

.carteh
{
    /*box-sizing:border-box;*/
    flex-basis:100%;
    height:210px;
    /*background-color: white;*/
    margin-right:2.5%;
    margin-left:2.5%;
    border-radius:10px;
    /*overflow:hidden;*/
}


.descrimgh
{
    height: auto;
    padding:1px 0;
    line-height: 100%;
    margin-top:-30px;
}

.afficherplus
{
    bottom:2%;
}

#ancreactivite
{
    padding-top:10px;
    padding-bottom:10px;
    margin-top:-20px;
}


}


/***************************************************************************/
/* fin media queries                                                       */
/***************************************************************************/

/***/
/* Traitement du pave activite */
/***/

#ancreactivite
{
    padding-top:25px;
    padding-bottom:10px;
}
.paveactivites
{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:10px;
}

.carteag
{
    box-sizing:border-box;
    flex-basis:23%;
    /*height:300px;*/
}

.carteag0d
{
    border-radius:10px;
    box-shadow: 1px 2px 4px #afaeae;
    border:1px solid rgb(243, 239, 239);
    width:100%;
    /*height:100%;*/
    height:300px;
}

.carteag1d
{
    border-radius:10px;
    border:1px solid rgb(243, 239, 239);
    box-shadow: 1px 2px 4px #afaeae;
    width:100%;
    /*height:45%;*/
    height:135px;
    margin-bottom:24px;
}

.carteag1d a, .carteag a
{
    Text-decoration:none;
    color:black;
}

/* Activite à marseille vieux port */

.carteaimg1
{
    width:100%;
    height:85%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:0%;
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position:center;
}

/* Activite à marseille parc national des calanques */

.carteaimg4
{
    width:100%;
    height:85%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:0%;
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position:center;
}

/* activites fort de pomegues */

.carteaimg2
{
    width:100%;
    height:80%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:0%;
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position:center;
}

/* activite iles du Frioul  */

.carteaimg3
{
    width:100%;
    height:80%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:0%;
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position:center;
}


/* activites notre dame de la garde */

.carteaimg5
{
    width:100%;
    height:80%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:0%;
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position:center;
}

/* activite parc longchamp  */

.carteaimg6
{
    width:100%;
    height:80%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    margin:auto;
    margin-top:0%;
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-repeat:no-repeat;
    background-origin:padding-box;
    background-size:cover;
    background-position:center;
}

.descrimga
{
    margin-left:10px;
    margin-top: 10px;
}

.descrimga1
{
    margin-left:10px;
    margin-top: 5px;
}


/**/
/** Traitement des medias queries pour pave activite 
si ecran <699 affichages des activités sur une seule colonne */
/**/
@media only screen and (max-width: 699px)
{

.paveactivites
{
    display:flex;
    flex-direction:column;
    height:1400px;
}

.carteag
{
    margin-bottom:15px;
    /*height:210px;*/
}

.carteag0d
{
    height:200px;
}

.carteag1d
{
   /*height:210px;*/
   height:200px;
}

.carteaimg1, .carteaimg4
{
    height:75%;
}

.carteaimg2,.carteaimg3,.carteaimg5,.carteaimg6
{
    height:75%;
}

}


/*************************************************************/
/* fin trt medias queries pour pave activite                 */
/*************************************************************/
/**/
.apropos
{
    width:28.57%;
    box-sizing:border-box;
    margin-left:25px;
}

.noshebergements
{
    width:28.57%;
    box-sizing:border-box;
}

.assistance
{
    width:28.57%;
    box-sizing:border-box;
}
.noshebergements ul, .apropos ul, .assistance ul
{
    list-style-type:none;
    padding:0px;
}

.noshebergements li, .apropos li, .assistance li
{
    margin-top:10px;
}

.apropos a, .noshebergements a, .assistance a
{
    color:black;
    text-decoration:none;
}
footer
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-top:20px;
    margin-bottom:20px;
}

/**/
/** Traitement des medias queries pour footer 
si ecran <499 affichages a propos  nos  hebergements assistance sur une seule colonne */
/**/
@media only screen and (max-width: 499px)
{

    footer
    {
        display:flex;
        flex-direction:column;
    }
    
    .apropos
    {
        margin-left:20px;
        width:100%
    }

    .noshebergements
    {
    width:100%;
    margin-left:20px;
    }

    .assistance
    {
    width:100%;
    margin-left:20px;
    }

}